.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 50px;

    span {
        font-size: 35px;
        color: #F94C10;
        font-weight: 700;
    }
}


.start-button {
    position: absolute;
    bottom: 50px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 35vw;
        height: 7vh;
        background-color: #C70039;
        cursor: pointer;
        font-size: 25px;
        font-weight: 600;
        border-radius: 10px;

        &:hover {
            filter: brightness(1.5);
        }
    }
}

.title-word {
    animation: color-animation 3s linear infinite;
}

.title-word-1 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;

}

.title-word-2 {
    --color-1: #E4A9A8;
    --color-2: #3D8DAE;
    --color-3: #DF8453;
    margin-left: 5px;
}

.title-word-3 {
    --color-1: #DF8453;
    --color-2: #E4A9A8;
    --color-3: #3D8DAE;
    margin-left: 5px;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}

@media (max-width: 780px) {
    .start-button {
        button {
            width: 40vw !important;
        }

    }
}

@media (max-width: 500px) {
    .start-button {
        button {
            width: 50vw !important;
            font-size: 23px !important;
        }
    }
}