<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{ 'top.px' : 100 + (80 * i)}"
    [playerActive]="i == game.currentPlayer" [name]="player" class="player-position"> </app-player>
<!--wenn index ist currentPlayer, dann playerActive(boolean) ein Akuellen Player wird aktiviert -> hellgeleuchtet-->


<div class="playGround">
    <div class="card-stack">
        <!--card stack-->
        <img *ngFor="let card of [1,2,3,4]; let i = index;" src="assets/img/cards/card_cover.png"
            [ngStyle]="{ 'right.px' : 3 * i}">

        <!--top card-->
        <img (click)="takeCard()" class="top-card" src="assets/img/cards/card_cover.png" style="right: 17px;">

        <!--played card-->
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png"
            style="right: 17px;">

        <!--current card-->
        <img *ngIf="pickCardAnimation" (click)="takeCard()" class="pick-card"
            src="assets/img/cards/{{ currentCard }}.png" style="right: 17px;">
    </div>
</div>


<app-game-info class="pin-bottom" [card]="currentCard"></app-game-info> <!--porperty binding 'card'=ChildComponent bekommt den Wert des 'currentCard'=ParentComponent -->

<button mat-fab color="primary" class="btn-add" (click)="openDialog()"> <!-- fab steht für floating action button-->
    <mat-icon>add</mat-icon>
</button>